.link-button {
    background: none;
    color: rgba(51,65,85,var(--tw-text-opacity));
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: inline;
}

.link-button:hover, .link-button:focus {
    text-decoration: none;
    color: rgba(100,116,139,var(--tw-text-opacity));
}

.link-button.active {
    color: rgba(14,165,233,var(--tw-text-opacity));
    text-decoration: none;
}

.link-button.active:hover {
    color: rgba(2,132,199,var(--tw-text-opacity));
    text-decoration: none;
}

.shadow-lg, .shadow-md {
box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}